<%- layout("./layout/boilerplate") %>
<form action="/campgrounds/<%= campground._id %>?_method=put" method="post">
	<label for="name">name</label
	><input
		type="text"
		name="campground[title]"
		id="name"
		value="<%= campground.title %>" />
	<label for="location">location</label
	><input
		type="text"
		name="campground[location]"
		id="location"
		value="<%= campground.location %>" />
	<button>Add new campground</button>
</form>
<form action="/campgrounds/<%= campground._id %>?_method=delete" method="post">
	<button>Delete campground</button>
</form>
